<nav class="navbar navbar-expand-lg" style="background-color: #007BA7;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/emp/home/">EMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/emp/add-emp/">Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/services/">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>                
                <!-- Conditional links for admin and manager roles -->
                {% if user.is_authenticated %}
                    {% if user.emp.role == 'admin' %}
                        <!-- Admin specific links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mark_attendance' %}">Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'performance_dashboard' %}">Performance</a>
                        </li>
                    {% elif user.emp.role == 'manager' %}
                        <!-- Manager specific links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'performance_dashboard' %}">Performance</a>
                        </li>
                    {% endif %}
                {% endif %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq_list' %}">FAQ</a>
                </li>        
            </ul>
        </div>
    </div>
  </nav>
  