<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Employee Management System Services">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title>Services</title>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container" style="text-align: center">
            {% include 'navbar.html' %}
            <h1>Services We Provide</h1>
            <p>
                Welcome to our Employee Management System! We offer a range of services designed to streamline your HR processes and improve employee engagement. Our services include simplifying the onboarding process with automated workflows and document management. We also provide effective time and attendance tracking, making it easy to monitor employee attendance and work hours. Our payroll management service automates payroll calculations, ensuring compliance with tax regulations while facilitating performance management and feedback collection to enhance employee development. Additionally, we streamline leave management by simplifying leave requests and approvals for better resource planning. Our Employee Self-Service Portal empowers employees with access to their information and the ability to manage requests independently. Whether you're a small business or a large organization, our EMS is designed to meet your unique needs.
            </p>
            <p>
                For more information, please feel free to reach out to us.
            </p>
            <button>Contact Us</button>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>
